body {
	margin: 10px;
	background-color: #1DA1F2;
	color: #000000;
	font-family: 'Inconsolata', monospace, Arial;
}

h1, h2 {
	color: #000000;
}

button {
	background-color: #449D44;
	border-radius: 40%;
}

ul {
	min-height: 10px;
}

div {
	background-color: #EEEEEE;
	padding: 1%;
	border-radius: 1%;
}